# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# Python
*.pyc
*~
__pycache__/
.env
.venv
virtualenv/
venv/
env/

# IDE
.idea/
.vscode/
*.iml

# Firebase
/serviceAccountKey.json
